<svg viewBox="0 0 64 64" class="ember-pie-chart__chart" style="background: {{baseColor}}">
  {{yield}}
</svg>

{{#if showLegend}}
  <div class="ember-pie-chart__legend">
    {{#each calculatedSeries as |data|}}
      <div class="ember-pie-chart__legend-item">
        <div class="ember-pie-chart__legend-color" style="background: {{data.color}}"></div>
        <span class="ember-pie-chart__legend-title">
          {{data.title}}
        </span>
      </div>
    {{/each}}
  </div>
{{/if}}
